@font-face {
  font-family: "symbols-technomart";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

@font-face {
  font-family: "Cuprum";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/cuprum.woff") format("woff"),
       url("../fonts/cuprum.woff2") format("woff2");
}

@font-face {
  font-family: "Cuprum Bold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/cuprumbold.woff") format("woff"),
       url("../fonts/cuprumbold.woff2") format("woff2");
}

@font-face {
  font-family: "Cuprum Italic";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/cuprumitalic.woff") format("woff"),
       url("../fonts/cuprumitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Cuprum Bold Italic";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/cuprumbolditalic.woff") format("woff"),
       url("../fonts/cuprumbolditalic.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ptsans.woff") format("woff"),
       url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans Bold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff") format("woff"),
       url("../fonts/ptsansbold.woff2") format("woff2");
}


[class^="icon-"]::before,[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
 /* margin-right: 0.2em;
  margin-left: 0.2em;*/
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */


body {
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	font-weight: 400;
	font-family: "PT Sans", Verdana, sans-serif;
}


h2 {
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	font-weight: 400;
	font-family: "Cuprum", Verdana, sans-serif;
	text-transform: uppercase;
}

h3 {
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans Bold", Verdana, sans-serif;
}

.container {	
	width: 940px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #ffffff;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/*==========>>>..........КРАСНАЯ КНОПКА..........<<<==========*/

.btn {
	margin: 0;
	padding: 10px;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	background: #ee3643;
	border-radius: 2px;
}

.btn:hover
{
	background: #ca2c37;
}

.btn:active
{
	background: #ba2732;
}

/*==========>>>..........HEADER..........<<<==========*/

.header {
	height: 320px;
	background-color: #f1f5f7;
}

.container-1 {
	background-color: #293449;
	height: 42px;
}

.container-1 .container {
	height: 42px;
}

/*==========>>>(логотип)<<<==========*/

.logo {	
	float: left;
	text-transform: uppercase;
	background-color: #ee3643;
	width: 220px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	font-family: "Cuprum", Verdana, sans-serif;
	font-size: 24px;
	color: #ffffff;
	box-shadow: 0 5px 0 #b52933;
}

.logo:hover {
    background: #ca2c37;
    box-shadow: 0 5px 0 #9a212a;
}

.logo:active {
    background: #ba2732;
    box-shadow: 0 5px 0 #8e1e26;
}

/*==========>>>(поиск)<<<==========*/

.search {
	float: left;
	background-color: #293449;
	width: 270px;
	line-height: 40px;
	text-align: center;
}

.icon-search {
	color: #6a7180;
}

.search-input {
	border: none;
	padding-left: 10px;
	width: 200px;
}

.search-input[placeholder] {
	font-family: "Cuprum", Verdana, sans-serif;
	color: #ffffff;
	font-size: 17px;
	background-color: #293449;
}

.search-input:focus {
    position: relative;
    outline: none;
    color: #000000;
    background: #ffffff;
}

.search-input:hover + label:after {
    opacity: 1.0;
}

.search-input:focus + label:after {
    color: #ee3643;
    opacity: 1.0;
}

/*==========>>>(оформить заказ)<<<==========*/

.order {
	float: right;
	background-color: #63a63e;
	width: 150px;
	height: 42px;
	font-family: "Cuprum", Verdana, sans-serif;
	font-size: 17px;
	line-height: 42px;
	text-align: center;
}


.order:hover {
    background: #5fbb2d;
    opacity: 1.0;
}

.order:active {
    color: #b7c9af;
    background: #518534;
    opacity: 1.0;
}
/*==========>>>(корзина)<<<==========*/

.basket {
	float: right;
	background-color: #293449;
	width: 150px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	font-family: "Cuprum", Verdana, sans-serif;
	font-size: 17px;
}

.icon-basket {
	opacity: 0.3;
	margin-right: 16px;
}

.basket:hover .icon-basket {
	color: #fff;
	opacity: 1.0;
}

.basket:active {
    background: #161d29;
    opacity: 0.6;
}

/*==========>>>(закладки)<<<==========*/

.bookmarks {
	float: right;
	background-color: #293449;
	width: 150px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	font-family: "Cuprum", Verdana, sans-serif;
	font-size: 17px;
}

.icon-bookmark {
	opacity: 0.3;
	margin-right: 13px;
}

.icon-bookmark {
	opacity: 0.3;
	margin-right: 16px;
}

.bookmarks:hover .icon-bookmark {
	color: #fff;
	opacity: 1.0;
}

.bookmarks:active {
    background: #161d29;
    opacity: 0.6;
}

/*==========>>>(header серединка)<<<==========*/

div.container-2 {
	background-color: #f1f5f7;
	height: 240px;
	margin-top: 46px;
}

div.container-2 .container {
	background-color: #f1f5f7;
}

/*==========>>>(описание)<<<==========*/

.description {
	float: left;
	padding-top: 0;
	font-family: "Cuprum Italic", Verdana, sans-serif;
	font-size: 16px;
	color: #ee3643;
	width: 195px;
	text-align: left;
	padding-left: 50px;
	background-color: #f1f5f7;
}

/*==========>>>(телефон и адрес)<<<==========*/

.address {
	float: left;
	width: 380px;
}

.address p:first-child {
	border: 3px solid #fff;
	height: 39px;
	width: 264px;
	line-height: 39px;
	text-align: left;
	margin-top: 0;
	margin-left: 85px;
}

.icon-phone {
	margin-left: 12px;
	color: #b7bfc8;
}

.address a {
	color: #e9292a;
	font-family: "Cuprum", Verdana, sans-serif;
	font-size: 21px;
	margin-left: 40px;
}
	
.address p:last-child {
	color: #32425c;
	font-family: "Cuprum", Verdana, sans-serif;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 92px;
}

/*==========>>>(войти регистрация)<<<==========*/

.enter {
	float: right;
	width: 280px;
}

.enter-login {
	float: left;
	background-color: #fff;
	width: 120px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-family: "Cuprum", Verdana, sans-serif;
	font-size: 21px;
}

.enter-login a {
	color: #000;
}

.enter-login .icon-login {
	color: #c5c5c5;
	margin-right: 14px;
}

.enter-registration {
	float: right;
	margin-top: 0;
	background-color: #fff;
	width: 150px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-family: "Cuprum", Verdana, sans-serif;
	font-size: 21px;
}

.enter-registration .registration {
	color: #000;
}


.login:hover,
.registration:hover,
.sign-out:hover {
    color: #ee3643;
}

.login:active,
.registration:active,
.user-name:active {
    color: #cacaca;
}

.login:hover::before {
    color: #32425c;
}



/*.user-name:hover::before,
.user-name:hover::after {
    color: #32425c;
}

.user-name:active::before,
.user-name:active::after {
    color: #c5c5c5;
}*/





/*==========>>>(корзина, войти регистрация - каталог)<<<==========*/

.basket-check {
	background: #ee3643;
}

.enter {
	position: relative;
}

.enter .profile {
	position: absolute;
	width: 300px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	right: 0;
	font-family: "Cuprum", Verdana, sans-serif;
	font-size: 21px;	
}

.profile a {
	background-color: #fff;
	color: #000;
}

.profile {
	background-color: #fff;	
}

.icon-user, .icon-logout {
	color: #c5c5c5;
}

.icon-user {
	font-size: 18px;
	padding-right: 14px;	
}

.icon-logout {
	font-size: 22px;
	padding-left: 35px;
}

.cabinet {
	margin-top: 50px;
}

.cabinet a {
    position: relative;
	margin-top: 150px;
	top: 7px;
	padding-left: 16px;
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
	font-family: "Cuprum", Verdana, sans-serif;
	font-size: 16px;
}

.cabinet a:first-child {
	padding-right: 16px;
	padding-left: 0;
}

.dot:before {
	content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    left: -2px;
    top: 7px;    
    background: #32425c;
    border-radius: 2px;
}

.user-link:hover {
    color: #ee3643;
}

.user-link:active {
    color: #cacfd5;
}

/*==========>>>(навигация)<<<==========*/

.container-2 .container {
	height: 112px;
}

.header-menu li {
	display: inline-block;
	vertical-align: bottom;
	font-size: 17px;
	line-height: 17px;
	vertical-align: top;
}

.nav-header {
	background-color: #32425c;
	width: 940px;
	height: 55px;
	margin: 0 auto;
	box-shadow: 0 5px 0px #293449;
}

.header-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	text-align: center;
}

.header-menu a {
	display: block;
	padding: 22px 29px;
	color: #ffffff;
  	text-decoration: none;
}

.header-menu a:hover {
    background: #293449;
}

.header-menu a:active {
    color: #a8abaf;
    background: #1d2739;
	box-shadow: 0 5px 0px #1d2739;
}


/*==========>>>..........MAIN..........<<<==========*/

.header {
	margin-bottom: 60px;
}


.category-button {
	display: block;
	position: absolute;
	font-family: "Cuprum", Verdana, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	width: 135px;
	height: 38px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	color: #ffffff;
	left: 25px;
	bottom: 22px;
	line-height: 38px;
	text-align: center;
}

.category-button:hover {
    background: rgba(0, 0, 0, 0.2);
}

.category-button:active {
    background: rgba(0, 0, 0, 0.3);
}

/*==========>>>(картинки в категориях)<<<==========*/

.category-img1 {
	position: absolute;
	bottom: 27px;
	right: 43px;
}

.category-new {
	position: absolute;
	top: 0;
	right: 0;
}

.category-img2 {
	position: absolute;
	bottom: 30px;
	right: 28px;
}

.category-img4 {
	position: absolute;
	bottom: 30px;
	right: 31px;
}

.category-img5 {
	position: absolute;
	bottom: 23px;
	right: 45px;
}

.category-img6 {
	position: absolute;
	bottom: 28px;
	right: 30px;
}



.product-left {
	width: 630px;
	float: left;
}

.category-title {
	margin: 0;
	padding: 0;
	margin-bottom: 12px;
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
	font-family: "Cuprum", Verdana, sans-serif;
	font-size: 24px;
	text-transform: capitalize;
}

/*==========>>>(продукты в категориях)<<<==========*/

.product-1 {
	position: relative;
	float: left;
	width: 300px;
	height: 124px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #f6b22d;	
}

.product-1 .category-title {
	float: left;
	width: 160px;
	padding-left: 24px;
	padding-top: 21px;
	padding-bottom: 22px;
}

.product-2 {
	position: relative;
	float: left;
	width: 300px;
	height: 124px;
	background-color: #4aafde;	
}

.product-2 .category-title {
	float: left;
	width: 160px;
	padding-left: 24px;
	padding-top: 21px;
	padding-bottom: 22px;
}

.product-3 {
	width: 620px;
	height: 266px;
	clear:both;
}

.product-right {
	float: left;
	margin-left: 10px;
}

.product-4 {
	position: relative;
	width: 300px;
	height: 124px;
	background-color: #cc79d1;
	margin-bottom: 20px;
}

.product-4 .category-title {
	float: left;
	width: 160px;
	padding-left: 24px;
	padding-top: 21px;
	padding-bottom: 22px;
}

.product-5 {
	position: relative;
	width: 300px;
	height: 124px;
	background-color: #85d179;
	margin-bottom: 20px;
}

.product-5 .category-title {
	float: left;
	width: 160px;
	padding-left: 24px;	
	padding-bottom: 22px;
}

.product-6 {
	position: relative;
	width: 300px;
	height: 124px;
	background-color: #f6b22d;
}

.product-6 .category-title {
	float: left;
	width: 160px;
	padding-left: 24px;
	padding-bottom: 22px;
}

.product-4 h2 {
	margin-top: 0;	
}

.product-5 h2 {
	margin-top: 20px;	
}

.product-6 h2 {
	margin-top: 18px;	
}

.product {
	clear: both;
}

/*==========>>>(популярные товары - надпись и кнопка)<<<==========*/

.container .popular {
	margin-top: 54px;
}

.popular {
    margin-bottom: 20px;
	background-color: #f7f3ec;
}

.popular-title {
    float:left;
	font-size: 30px;
	font-weight: normal;
    margin: 0;
    padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 30px;	
	padding-left: 26px;	
	line-height: 30px;
	color: #32425c;	
	text-transform: uppercase;
}

.popular-title-btn {
	position: relative;
    float: right;
	min-width: 253px;
	top: 25px;
	right: 24px;
	background-color: #ee3643;
	font-family: "Cuprum", Verdana, sans-serif;
}

/*==========>>>(популярные товары - перфораторы)<<<==========*/

.product-popular {
    float: left;
    width: 200px;
    min-height: 317px;
    margin-bottom: 20px;
    margin-right: 20px;
	padding: 10px;
	text-align: center;
	box-shadow: 0 0 0 1px #e5e5e5 inset;
}

.product-popular:hover {
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.product-popular:hover .product-view {
	display: none;
}

.product-popular:hover .shoping {
	display: block;
}

.product-top-block {
	height: 168px;
}

.shoping {
	display: none;
	margin-left: 32px;
	padding-top: 40px;
	width: 135px;
}

.product-view {
	position: relative;
	height: 100%;
	top: -10px;
}

.product-view img {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.to-buy {
	position: relative;
	display: block;
	min-width: 135px;
	margin-bottom: 10px;
	padding-top: 13px;
	padding-bottom: 8px;
	font-size: 14px;
	line-height: 14px;
	background: #63a63e;
	box-shadow: 0 3px 0 #367315;
	font-family: "Cuprum", Verdana, sans-serif;
}

.to-buy:hover {
	background: #5fbb2d;
}

.to-buy:active {
	background: #518534;
	box-shadow: 0 3px 0 #518534;
}

.to-buy::before {
	content: "\62";
	position: absolute;
	left: 12px;
	top: 0;
	font-size: 17px;
	line-height: 35px;
	font-family: "symbols-technomart";
	opacity: 0.3;
	text-transform: none;
}

.to-bookmark {
	display: block;
	min-width: 130px;
	padding-top: 10px;
	padding-bottom: 8px;
	color: #32425c;
	font-size: 14px;
	line-height: 14px;
	background: transparent;
	border: 3px solid #63a63e;
	font-family: "Cuprum", Verdana, sans-serif;
}

.to-bookmark:hover {
	background: transparent;
	border: 3px solid #32425c;
}

.to-bookmark:active {
	background: transparent;
	border: 3px solid #32425c;
	opacity: 0.3;
}

.product-name {
	margin-bottom: 13px;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	font-family: "PT Sans", Verdana, sans-serif;
}

.product-price-old {
	margin-bottom: 10px;
	font-size: 17px;
	line-height: 18px;
	color: #999999;
	font-weight: bold;
	text-decoration: line-through;
	text-transform: uppercase;
	font-family: "PT Sans", Verdana, sans-serif;
}

.product-price {
	position: relative;
	left: 3px;
	display: inline-block;
	min-width: 140px;
	padding: 10px;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "PT Sans", Verdana, sans-serif;
	overflow: hidden;
	background: #ee3643;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.product-price::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	right: -23px; 
	border: 22px solid transparent;
	border-top: 22px solid #ffffff;
}

.product-price::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	bottom: 0;
	right: -23px; 
	border: 22px solid transparent;
	border-bottom: 22px solid #ffffff;
}

.product-name + .product-price {
	margin-top: 28px;
}

.products {
	margin-bottom: 2px;
	padding: 0;
}

.products-index .product-popular:nth-child(4n),
.products-catalog .product-popular:nth-child(3n)
{
    margin-right: -1px;
}

/*==========>>>(популярные производители)<<<==========*/

.brands {
	padding: 0 1px;
}

.brands-index .brand:nth-child(4n) {
    margin-right: -1px;
}

.brands-index {
	margin-right: -1px;
	margin-bottom: 66px;
}

.brand {
	position: relative;
    float: left;
    width: 219px;
    height: 142px;
    margin-bottom: 22px;
    margin-right: 21px;
	box-shadow: 0 0 0 1px #e5e5e5;
}

.brand:hover {
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.brand:active {
	opacity: 0.5;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.brand a {
	display: block;
	height: 100%;
}

.brand img {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}



/*==========>>>..........СЕРВИСЫ..........<<<==========*/

.main-middle {
	padding-top: 18px;
	background: #f2f6f8
}

.services-title-content {
	margin-bottom: 70px;
}

.services-slider-controls {
    position: relative;
	float: left;
	width: 240px;
    height: 100%;
	padding-top: 4px;
    margin-right: 80px;
    margin-bottom: 102px;
}

.services-slides {
    float: left;
    width: 620px;
}

.services-slider-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -139px;
    width: 10px;
    height: 279px;
    background: transparent url(../img/shadow.png) no-repeat 100% 100%;
}

.services-slider-controls label {
    display: block;
	padding: 12px 22px;
    padding-bottom: 16px;
    color: #ffffff;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	background: #32425c;
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
    cursor: pointer;
	font-family: "Cuprum Bold", Verdana, sans-serif;
	font-size: 21px;
}

.services-slider-controls label:hover {
    background: #293449;
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
}

.services input[type=radio] {
    position: absolute;
    opacity: 0;
}

#services-btn-1:checked ~ .services-slider label[for="services-btn-1"],
#services-btn-2:checked ~ .services-slider label[for="services-btn-2"],
#services-btn-3:checked ~ .services-slider label[for="services-btn-3"] { 
    color: #32425c;
	background-color: #ffffff;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

#services-btn-1:checked ~ .services-slider .services-slide:nth-child(1), 
#services-btn-2:checked ~ .services-slider .services-slide:nth-child(2), 
#services-btn-3:checked ~ .services-slider .services-slide:nth-child(3) {
    display: block;
}

.services-slide {
    display: none;
}

#services-btn-1:checked ~ .services-slider {
	background: #f2f6f8 url(../img/service_1.png) no-repeat 100% 100%;
}

#services-btn-2:checked ~ .services-slider {
	background: #f2f6f8 url(../img/service_2.png) no-repeat 100% 100%;
}

#services-btn-3:checked ~ .services-slider {
	background: #f2f6f8 url(../img/service_3.png) no-repeat 100% 100%;
}

.credit-btn {
    display: inline-block;
    vertical-align: middle;
    min-width: 192px;
    margin-top: 29px;
}

.services-slide-title {
	margin: 0;
	margin-bottom: 24px;
	padding: 0;
	color: #32425c;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	font-weight: normal;
}

.services-slide-desc {
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 25px;
	font-family: "PT Sans", Verdana, sans-serif;
}

#services-btn-1, #services-btn-2, #services-btn-3 {
	visibility: hidden;
}

/*==========>>>..........ДОСТАВКА..........<<<==========*/

.info-company-left {
    float: left;
    width: 520px;
}

.info-company-right {
    float: right;
    width: 300px;
}

.info-company {
    padding-top: 34px;
    padding-bottom: 87px;
}

.info-more-btn {
    display: inline-block;
    vertical-align: top;
    min-width: 220px;
    margin-top: 36px;
}

.info-map {
    padding-top: 33px;
    margin-bottom: 40px;
}

.map-btn {
    display: block;
    width: 300px;
    height: 158px;
}

.map-btn:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.map-btn:active {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.feedback-btn {
    display: block;
}

/*==========>>>..........FOOTER..........<<<==========*/

.footer {
	background-color: #32425c;
	color: #f1f5f7;
	font-size: 18px;
	line-height: 24px;
}

.footer-top {
    margin-bottom: 35px;
}

/*==========>>>(логотип)<<<==========*/

.logo-footer {
    float: left;
	width: 220px;
    text-align: center;
	background-color: #ee3643;
	box-shadow: 0 5px 0 #b52933;
}

.logo-footer a {
	display: block;
	padding: 15px 0;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #ffffff;
	vertical-align: top;
	font-family: "Cuprum", Verdana, sans-serif;
	font-size: 30px;
}

.logo-footer:hover {
    background: #ca2c37;
    box-shadow: 0 5px 0 #9a212a;
}

.logo-footer:active {
    background: #ba2732;
    box-shadow: 0 5px 0 #8e1e26;
}

/*==========>>>(меню футера 1)<<<==========*/

.footer-menu {
    float: right;
	width: 720px;
	margin: 0;
	margin-top: 35px;
	padding: 0;
	list-style: none;
	font-size: 0;
	text-align: right;
}

.footer-menu li {
    display: inline-block;
	vertical-align: bottom;
	margin-left: 60px;
	margin-top: 0;
	font-size: 18px;
	line-height: 30px;
}

.footer-menu a {
	color: #f1f5f7;
	text-decoration: none;
}

.footer-top1 {
	background-color: #32425c;
	margin-bottom: 32px;
}

.footer-menu a:hover {
    text-decoration: underline;
}

.footer-menu a:active {
    opacity: 0.5;
    text-decoration: none;
}

/*==========>>>(адрес футера)<<<==========*/

.footer-address {
	float: left;
    width: 340px;
	font-family: "Cuprum", Verdana, sans-serif;
	font-size: 18px;
}

/*==========>>>(меню футера 2)<<<==========*/

.footer-nav2 {
    float: right;
	width: 600px;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	text-align: right;
}

.footer-nav2 li {
    display: inline-block;
	vertical-align: top;
	margin-left: 60px;
	margin-top: 0;
	font-size: 18px;
	line-height: 30px;
}

.footer-nav2 a {
	color: #ffd180;
	font-family: "Cuprum", Verdana, sans-serif;
	font-size: 18px;
}

.footer-top2 {
	background-color: #32425c;
}

.footer-nav2 a:hover {
    text-decoration: underline;
}

.footer-nav2 a:active {
    opacity: 0.5;
    text-decoration: none;
}

/*==========>>>(подвал футера)<<<==========*/

.footer-bottom .container {
	background-color: #293449;
}

.footer-bottom {
	padding-top: 36px;
	padding-bottom: 30px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
    background-color: #293449;
}

.copyright {
	float: left;
	width: 350px;
	margin: 0;
	margin-right: 5px;
	padding: 0;
	font-family: "Cuprum", Verdana, sans-serif;
	font-size: 16px;
	background-color: #293449;
}


/*==========>>>(подвал футера - социальные кнопки)<<<==========*/

.social-button {
	float: left;
	width: 200px;
	margin: 0;
	padding: 0 0;
	text-align: center;
}

.social {
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	width: 40px;
	font-size: 17px;
	line-height: 40px;
	text-align: center;
	background-color: #212a3a;
	border-radius: 20px;
}

.social:hover, .social:active {
	background-color: #ee3643;
}

/*==========>>>(подвал футера - вэбмастер & фидбэк)<<<==========*/


.footer-link {
	float: right;
	width: 380px;
	text-align: right;
	font-family: "Cuprum", Verdana, sans-serif;
	font-size: 16px;
	background-color: #293449;
}

.webmaster, .feedback {
	display: inline-block;
	vertical-align: bottom;
	margin-left: 40px;
	margin-top: 0;
	margin-right: 10px;
	text-align: left;
}

.webmaster p {
	margin: 0;
	padding: 0;
}

.webmaster a {
	color: #ffd180;
}

.webmaster a:hover {
	text-decoration: underline;
}

.webmaster a:active {
	color: #ee3643;
	text-decoration: none;
}

.feedback p {
	margin: 0;
	padding: 0;
}

.feedback a {
	color: #ffd180;
}

.feedback a:hover {
	text-decoration: underline;
}

.feedback a:active {
	color: #ee3643;
	text-decoration: none;
}

/*==========>>>..........КАТАЛОГ..........<<<==========*/



.page-title {
    margin: 0;
    margin-bottom: 20px;
    padding: 30px;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    font-weight: normal;
    text-transform: uppercase;
    background: #f2f6f8;
	font-family: "Cuprum", Verdana, sans-serif;
}

/*==========>>>(хлебные крошки)<<<==========*/

.breadcrumbs {
	margin-bottom: 20px;
	margin-top: -30px;
}

.breadcrumbs ul {
    margin: 0;
    margin-top: -8px;
    margin-bottom: 14px;
    padding: 0;
    list-style: none;
}

.breadcrumbs li {
    position: relative;
    display: inline-block;
    vertical-align: center;
    padding: 0 30px;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    font-family: "PT Sans", Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.icon-right {
	color: #b7bfc8;
	margin-right: 13px;
	margin-left: 13px;
}

.icon-right:first-child {
	margin-left: 8px;
}

.breadcrumbs a {
    color: #000000;
    text-decoration: none;
}

.breadcrumbs a:hover {
    color: #ee3643;
}

.breadcrumbs a:active {
    color: #000000;
    opacity: 0.3;
}

.breadcrumb-home::before {
    content: "\1f3e0";
    font-size: 16px;
    line-height: 20px;
    color: #b7bfc8;
    font-family: "symbols-technomart";	
}

.breadcrumb-home:hover::before {
    color: #ee3643;
}

.breadcrumbs li:first-child {
    margin-left: 0;
    padding-left: 0;
    color: #b7bfc8;
}

/*==========>>>(...)<<<==========*/

.filters-block {
    float: left;
    width: 220px;
}

.catalog {
    float: right;
    width: 700px;
}

.control-header {
    margin-bottom: 20px;
    padding: 10px 18px;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    font-family: "PT Sans", Verdana, sans-serif;
    background: #f7f3ec;
    border-radius: 3px;
}

.filter {
    margin-bottom: 24px;
}

.filter-title {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 17px;
    line-height: 17px;
    font-family: "PT Sans Bold", Verdana, sans-serif;
    text-transform: uppercase;
}

.filter-checkbox,
.filter-radio {
    display: none;
}

.filter-checkbox + label,
.filter-radio + label {
    position: relative;
    display: block;
    margin-bottom: 20px;
    padding-left: 35px;
    font-size: 15px;
    line-height: 20px;
    font-family: "PT Sans", Verdana, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.filter-checkbox + label::before,
.filter-radio + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    color: #c1c1c1;
    font-size: 28px;
    font-family: "symbols-technomart";
}

.filter-checkbox + label::before {
    content: "\2610";
}

.filter-checkbox:checked + label::before {
    content: "\2611";
}

.filter-radio + label::before {
    content: "\25cb";
}

.filter-radio:checked + label::before {
    content: "\25cf";
}

.filter-checkbox + label:hover::before,
.filter-radio + label:hover::before {
    color: #b5b5b5;
}

.filter-checkbox:disabled + label,
.filter-radio:disabled + label {
    opacity: 0.4;
    cursor: default;
}

.filter + .filter {
    padding-top: 22px;
    border-top: 1px solid #e5e5e5;
}

.filters {
    margin-bottom: 78px;
}

.filters-submit-btn {
    min-width: 140px;
    outline: none;
    color: #000000;
    text-align: center;
    font-family: "PT Sans", Verdana, sans-serif;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}

.filters-submit-btn:hover {
    color: #000000;
    background: #ffffff;
    border: 1px solid #bdc6ca;
}

.filters-submit-btn:active {
    color: #000000;
    background: #ffffff;
    border: 1px solid #ee3643;
}

/*==========>>>(цена)<<<==========*/

.range-filter {
    width: 220px;
}

.range-controls {
    position: relative;
    height: 80px;
    margin-bottom: 10px;
    padding: 0px 30px;
    background: #f7f3ec;
    border-radius: 0px 0px 3px 3px;
    overflow: hidden;
}

.range-controls .scale {
    margin-top: 39px;
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    height: 2px;
    width: 140px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 28px;
    left: 30px;
    width: 3px;
    height: 3px;
    border: 10px solid white;
    background: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 0 #d4d1cb;
    cursor: pointer;
}

.range-controls .min-toggle {
    left: 20px;
}

.range-controls .max-toggle {
    left: 160px;
}

.price-controls {
    font-size: 17px;
    line-height: 18px;
    font-weight: normal;
    font-family: "PTSans", Verdana, sans-serif;
}

.price-controls input {
    width: 54px;
    padding: 10px 20px;
    text-align: center;
    color: #000000;
    background: #f7f3ec;
    border: none;
    border-radius: 3px;
    outline: none;
}

.price-controls .price-sep {
    margin: 0px 5px;
    font-size: 10px;
    line-height: 18px;
    font-family: "PTSans", Verdana, sans-serif;
}

/*==========>>>(сортировка)<<<==========*/

.sort-title {
    float: left;
    width: 220px;
}

.sort-types {
    float: left;
}

.sort-type {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-bottom: -1px;
    padding: 0;
}

.sort-current {
    font-size: 13px;
    line-height: 18px;
    color: #ee3643;
    border-bottom: none;
	margin-right: 70px;
}

.sort-link {
    margin-bottom: -1px;
    font-size: 13px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #ee3643;
	margin-right: 35px;
	
}

.sort-link:hover {
    color: #000000;
    border-bottom: 1px solid #ee3643;
}

.sort-link:active {
    color: #ee3643;
    border-bottom: none;
}

.sort-directions {
    float: right;
    width: 78px;
}

.sort-direction {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
	right: -15px;
}

.sort-direction::after {
    content: "";
    position: absolute;
    top: -10px;
    right: 0;
    color: rgba(0, 0, 0, 0.3);
    font-size: 23px;
    font-family: "symbols-technomart";
}

.sort-ascending::after {
    content: "\25b2";
}

.sort-descending::after {
    content: "\25bc";
}

.sort-direction-current::after {
    color: #ee3643;
    opacity: 1.0;
}

.sort-direction-link:hover::after {
    color: #000000;
}

.sort-direction-link:active::after {
    color: #ee3643;
}

/*==========>>>(странички 1,2,3)<<<==========*/

.pagination {
    margin-bottom: 54px;
    padding-top: 34px;
}

.pagination a, 
.pagination span {
    display: inline-block;
    vertical-align: bottom;
    min-width: 38px;
    margin: 0;
    margin-right: 7px;
    margin-bottom: 7px;
    padding: 10px 5px;
    font-size: 13px;
    line-height: 14px;
    color: #000000;
    font-family: "PT Sans", Verdana, sans-serif;
    text-transform: uppercase;
    text-align: center;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
}

.pagination span {
    color: #ffffff;
    background: #ee3643;
    border: 1px solid #ee3643;
}

.pagination a:hover {
    border: 1px solid #bdc6ca;
}

.pagination a:active {
    border: 1px solid #ee3643;
}

.pagination a:last-child {
    min-width: 140px;
}




.text-content-block {
    padding-top: 20px;
    padding-bottom: 72px;
    background: #f2f6f8;
}

.content h2 {
    margin: 0;
    padding: 0;
    padding-top: 46px;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "Cuprum", Verdana, sans-serif;
}

.content p {
    margin: 0;
    padding: 0;
    padding-top: 24px;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    font-family: "PT Sans", Verdana, sans-serif;
}

.content ul {
    margin: 0;
    padding: 0;
    padding-top: 4px;
    list-style: none;
}

.content li {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    list-style: none;
}

.content-list li {
    position: relative;
    padding-left: 36px;
}

.content-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    width: 25px;
    height: 2px;
    background: #ee3643;
}

/*==========>>>..........СЛАЙДЕР С МУЖИКОМ..........<<<==========*/

.slider {
	position: relative;
    float: left;
    width: 620px;
    height: 266px;
    margin-right: 20px;
    background: #f2f6f8;
}

.slider input[type=radio] {
    position: absolute;
    opacity: 0;
}

.slider-controls {
    position: absolute;
    bottom: 36px;
    left: 50%;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
    z-index: 100;
}

.slider-controls label {
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    background: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#slider-btn-1:checked ~ .slider-controls label[for="slider-btn-1"],
#slider-btn-2:checked ~ .slider-controls label[for="slider-btn-2"] { 
    background: #ee3643;
}

#slider-btn-1:checked ~ .slides .slide:nth-child(1),
#slider-btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}

.slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide:nth-child(1) {
    background: transparent url('../img/man_1.jpg') no-repeat 0 0;
}

.slide:nth-child(2) {
    background: transparent url('../img/man_2.jpg') no-repeat 0 0;
}

.slide-content {
    padding: 23px 26px;
}

.slide-title {
	margin: 0;
	padding: 0;
	font-size: 36px;
	line-height: 36px;
	color: #ffffff;
	text-transform: uppercase;
}

.slide-description {
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.slider-btn {
	display: block;
	position: absolute;
	bottom: 22px;
	min-width: 195px;
}

.slider-btn-prev,
.slider-btn-next {
    position: relative;
	display: block;
}

.slider-btn-prev::before,
.slider-btn-next::before {
    content: "";
    position: absolute;
    top: 112px;
    color: #ffffff;
    font-size: 45px;
    line-height: 45px;
    font-family: "symbols-technomart";
    text-transform: none;
    cursor: pointer;
}

.slider-btn-prev::before {
    content: "\3c";
    left: 23px;
}

.slider-btn-next::before {
    content: "\3e";
    right: 23px;
}

.slide-title, .slider-btn {
	font-family: "Cuprum", Verdana, sans-serif;
}

.slide-description {
	font-family: "PT Sans", Verdana, sans-serif;
}

/*==========>>>(кнопка new на CSS)<<<==========*/

.special {
    position: relative;
    overflow: hidden;
}

.special::after {
    content: "new";
    position: absolute;
    width: 84px;
    height: 28px;
    top: 5px;
    right: -23px;
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    text-align: center;
    background: #ee3643;
    transform: rotate(45deg);
}

/*==========>>>..........МОДАЛЬНОЕ ОКНО..........<<<==========*/


