@font-face {
  font-family: "symbols-technomart";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

@font-face {
  font-family: "Cuprum";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/cuprum.woff") format("woff"),
       url("../fonts/cuprum.woff2") format("woff2");
}

@font-face {
  font-family: "Cuprum Bold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/cuprumbold.woff") format("woff"),
       url("../fonts/cuprumbold.woff2") format("woff2");
}

@font-face {
  font-family: "Cuprum Italic";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/cuprumitalic.woff") format("woff"),
       url("../fonts/cuprumitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Cuprum Bold Italic";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/cuprumbolditalic.woff") format("woff"),
       url("../fonts/cuprumbolditalic.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ptsans.woff") format("woff"),
       url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans Bold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff") format("woff"),
       url("../fonts/ptsansbold.woff2") format("woff2");
}


[class^="icon-"]::before,[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */


body {
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	font-weight: 400;
	font-family: "PT Sans", Helvetica, sans-serif;
}


h2 {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	font-weight: 400;
	font-family: "Cuprum", Helvetica, sans-serif;
	text-transform: uppercase;
}

h3 {
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans Bold", Helvetica, sans-serif;
}

.header {
	height: 320px;
}

.container-1 {
	background-color: #293449;
	height: 42px;
}

.container {
	background-color: white;
	width: 940px;
	margin: 0 auto;
}

.container-1 .container {
	height: 42px;
}

.logo {
	
	float: left;
	text-transform: uppercase;
	background-color: #ee3643;
	width: 220px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	box-shadow: 0 5px 0 #b52933;
}

.seach {
	float: left;
}

.order {
	float: right;
	background-color: #63a63e;
}

.basket {
	float: right;
}

.bookmarks {
	float: right;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.description {
	float: left;
	width: 300px;
}

div.container-2 {
	outline: 3px solid red;
	background-color: #f1f5f7;
	height: 280px;
}

.address {
	float: left;
	width: 300px;
}

.enter {
	float: right;
}


.container-2 .container {
	outline: 3px solid red;
	height: 158px;
}

.header-menu li {
	display: inline-block;
}

.header-menu {
	background-color: #293449;
	width: 900px;
	height: 55px;
	margin: 0 auto;
}

.product-left {
	width: 630px;
	float: left;
}

.product-1 {
	outline: 1px solid red;
	float: left;
	width: 300px;
	height: 124px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.product-2 {
	outline: 1px solid red;
	float: left;
	width: 300px;
	height: 124px;
}

.product-3 {
	outline: 1px solid red;
	width: 620px;
	height: 266px;
	clear:both;
}

.product-right {
	float: left;
}

.product-4 {
	outline: 1px solid red;
	width: 300px;
	height: 124px;
}

.product-5 {
	outline: 1px solid red;
	width: 300px;
	height: 124px;
}

.product-6 {
	outline: 1px solid red;
	width: 300px;
	height: 124px;
}

.product-4 h2 {
	margin-top: 0;	
}

.product-5 h2 {
	margin-top: 20px;	
}

.product-6 h2 {
	margin-top: 18px;	
}

.product {
	outline: 2px solid green;
	clear: both;
}

.product-popular {
	width: 220px;
	height: 317px;
	border: 1px solid #e5e5e5;
	float: left;
	margin-right: 17px;
}

.product-popular:last-child {
	margin-right: 0px;
}

.popular {
	outline: 2px solid red;
}

.brands {
	outline: 2px solid blue;
}

.brand-logo {
	outline: 2px solid red;
}

.brand {
	outline: 2px solid green;
	width: 220px;
	height: 144px;
	float: left;
	margin-right: 20px;
}

.brand-interskol, .brand-metabo {
	margin-right: 0px;
}

.brand-bosch, .brand-makita, .brand-dewalt, .brand-interskol {
	margin-bottom: 20px;
}

.main-middle {
	background-color: #f2f6f8;
}

.services-text {
	width: 530px;
}

.services {
	background-color: #f2f6f8;
}

.services-h2 {
	outline: 2px solid green;
}

.services-menu {
	outline: 2px solid green;
	float: left;
	width: 250px;
}

.delivery {
	outline: 2px solid green;
	float: right;
	width: 650px;
}

.company {
	outline: 2px solid green;
	float: left;
	width: 600px;
}

.mapa {
	outline: 2px solid green;
	float: right;
	width: 305px;
}

.footer-nav1 li {
	display: inline-block;
	float: right;
}

.footer-top1, .footer-top2 {
	outline: 2px solid green;
}

.footer-nav2 li {
	display: inline-block;
	float: right;
}

.footer-address {
	float: left;
}

.footer-nav2 {
	float: right;
}

.copyright {
	outline: 2px solid green;
	float: left;
	width: 300px;
	height: 80px;
}

.social-button {
	outline: 2px solid green;
	float: left;
	width: 200px;
	height: 80px;
}

.webmaster {
	outline: 2px solid green;
	float: right;
	width: 140px;
	height: 80px;
}

.feedback {
	outline: 2px solid green;
	float: right;
	width: 170px;
	height: 80px;
}

.modal-window {
	outline: 2px solid blue;
	width: 620px;
	margin: 20px auto;
}

.main-catalog-top .container {
	outline: 2px solid blue;
}

.main-catalog-top .bread-crumbs li {
	display: inline-block;
	margin-left: 0;
	padding-left: 0;
	
}

.main-catalog-top .bread-crumbs ul {
	outline: 2px solid orange;
	padding-left: 0;
}

.main-catalog-header {
	outline: 2px solid orange;	
}

.main-left {
	outline: 2px solid green;
	width: 220px;
	float: left;
}

.main-right {
	outline: 2px solid blue;
	float: right;
	width: 700px;
}

.main-right .sort {
	outline: 2px solid orange;	
}

.sort ul li{
	display: inline-block;
}

.catalog-product {
	outline: 2px solid green;
	width: 220px;
	height: 318px;
	float: left;
	margin-right: 20px
}


.catalog-product:nth-child(3n) {
	outline: 2px solid green;
	width: 220px;
	height: 318px;
	float: left;
	margin-right: 0;
}



.pages li {
	display: inline-block;
}

.pages ul {
	padding-left: 0;
}

.main-catalog-bottom .container {
	outline: 2px solid green;	
}